{% extends 'base.html.twig' %}

{% block body %}
    <div class="max-w-md mx-auto">
        <div class="flex items-center gap-2 justify-between mb-6">
            <h1 class="text-4xl font-semibold">Edit show</h1>
        </div>
        {{ form(form) }}
    </div>
{% endblock %}